:host {
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;

    padding: 2rem;
    box-sizing: border-box;


}


.auth-card {
    width: 100%;
    max-width: 450px;
}
