<div class="overflow-x-auto rounded-box border border-base-content/5 bg-base-100">
    <table class="table">
        <thead>
            <tr>
                @for (column of columns(); track column.header) {
                <th>{{column.header}}</th>
                }
            </tr>
        </thead>
        <tbody>
            @for (row of data(); track row) {
            <tr>
                @for (column of columns(); track column.field) {
                <td>

                    <ng-container *ngComponentOutlet="
                                ColumnComponentMap[column.type];
                                inputs: { value: row[column.field] }
                            ">
                    </ng-container>
                </td>
                }
            </tr>
            }
        </tbody>
    </table>
</div>
