<h1>Create organization</h1>

<form [formGroup]="organizationForm" (ngSubmit)="create()">

    <div>
        <label>Name</label>
        <input type="text" formControlName="name">

        @if (organizationForm.controls.name.hasError('required')) {
        <span>
            Organization name is required
        </span>
        }

        @if (organizationForm.controls.name.hasError('minlength')) {
        <span>
            Organization name must be at least
            {{ OrganizationConstants.NAME_MIN_LENGTH }} characters
        </span>
        }

        @if (organizationForm.controls.name.hasError('maxlength')) {
        <span>
            Organization name cannot exceed
            {{ OrganizationConstants.NAME_MAX_LENGTH }} characters
        </span>
        }
    </div>

    <div>
        <label>Slug</label>
        <input type="text" formControlName="slug">

        @if (organizationForm.controls.slug.hasError('required')) {
        <span>
            Organization slug is required
        </span>
        }

        @if (organizationForm.controls.slug.hasError('minlength')) {
        <span>
            Organization slug must be at least
            {{ OrganizationConstants.SLUG_MIN_LENGTH }} characters
        </span>
        }

        @if (organizationForm.controls.slug.hasError('maxlength')) {
        <span>
            Organization slug cannot exceed
            {{ OrganizationConstants.SLUG_MAX_LENGTH }} characters
        </span>
        }
    </div>

    <button type="submit" [disabled]="organizationForm.invalid">
        Create organization
    </button>

</form>
