@if (error()) {
<p>{{ error() }}</p>
}

@if (organization(); as org) {
<mat-card>
    <mat-card-header>
        <mat-card-title>
            {{ org.name }}
        </mat-card-title>

        <mat-card-subtitle>
            {{ org.slug }}
        </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <p>
            <strong>Organization ID:</strong>
            {{ org.id }}
        </p>

        <p>
            <strong>Created:</strong>
            {{ org.createdAt }}
        </p>

        <p>
            <strong>Updated:</strong>
            {{ org.updatedAt }}
        </p>
    </mat-card-content>
</mat-card>
}
