<h1>Member</h1>

@if (loading()) {
<span>Loading</span>
} @else if (error()) {
<telemetry-empty-state message="No member data"></telemetry-empty-state>
} @else {

@if (!editMode()) {
<button routerLink="edit">
    Edit
</button>
}

<form [formGroup]="memberForm">

    <div>
        <label>First Name</label>
        <input formControlName="firstName">
    </div>

    <div>
        <label>Last Name</label>
        <input formControlName="lastName">
    </div>

    <div>
        <label>Email</label>
        <input formControlName="email">
    </div>

    <div>
        <label>Role</label>

        <select formControlName="role">
            @for (role of roleSelections; track role) {
            <option [value]="role">
                {{ role }}
            </option>
            }
        </select>
    </div>

    <div>
        <label>Status</label>

        <select formControlName="status">
            @for (status of statusSelections; track status) {
            <option [value]="status">
                {{ status }}
            </option>
            }
        </select>
    </div>

    @if (editMode()) {
    <button type="button" [disabled]="memberForm.invalid || !hasChanges() || saving()" (click)="updateMembership()">

        @if (saving()) {
        <span>Loading</span>
        } @else {
        <span>Save</span>
        }

    </button>
    }

</form>

}
