<telemetry-page>

    @if (loading()) {
    <telemetry-loading-spinner />
    } @else if (error()) {
    <telemetry-empty-state message="No member data"></telemetry-empty-state>
    } @else {

    @if(mode() === 'view'){
    <telemetry-button text="Edit" [routerLink]="['edit']" />
    }

    <form class="form-default" [formGroup]="memberForm" (ngSubmit)="update()">

        <fieldset class="fieldset">
            <legend class="fieldset-legend fieldset-legend-title">{{fieldsetTitle()}}</legend>

            <telemetry-label text="Name" />
            <telemetry-input [control]="memberForm.controls.firstName" />

            <telemetry-label text="Description" />
            <telemetry-input [control]="memberForm.controls.lastName" />

            <telemetry-label text="Email" />
            <telemetry-input [type]="InputType.EMAIL" [control]="memberForm.controls.email" />

            <telemetry-label text="Role" />
            <select class="select" formControlName="role">
                <option [value]="OrganizationRole.ADMIN">
                    Administrator
                </option>

                <option [value]="OrganizationRole.PROJECT_MANAGER">
                    Project Manager
                </option>

                <option [value]="OrganizationRole.MEMBER">
                    Member
                </option>
            </select>

            <telemetry-label text="Status" />
            <select class="select" formControlName="status">
                @for (status of statusSelections; track status) {
                <option [value]="status">
                    {{ capitalize(status) }}
                </option>
                }
            </select>

        </fieldset>


        <div class="form-buttons-container">
            <telemetry-button [type]="ButtonType.BUTTON" [style]="ButtonStyle.SECONDARY" text="Cancel"
                [routerLink]="['/app/manage/members']" />
            @if (mode() === 'edit'){
            <telemetry-button [type]="ButtonType.SUBMIT" [text]="formSubmitButtonText()" [disabled]="formDisabled()" />
            }
        </div>
    </form>
    }
</telemetry-page>
