<telemetry-page>

    @if (error()) {
    <p>{{ error() }}</p>
    } @else if (organizations().length === 0) {
    <telemetry-empty-state message="No organizations found"></telemetry-empty-state>
    }

    <telemetry-button [routerLink]="['/app/organizations/new']" text="New Organization" />
    <telemetry-table [data]="organizations()" [columns]="organizationColumns" />

    <!-- TODO PAGINATOR -->
    <!--
        <mat-paginator [length]="total()" [pageIndex]="page()" [pageSize]="pageSize()" [pageSizeOptions]="[5, 10, 25, 50]"
        (page)="onPageChange($event)">
    </mat-paginator> -->

</telemetry-page>
