<li>
    <div class="flex items-center cursor-pointer" (click)="selectNode()">

        @if (node().hasChildren) {
        <button type="button" (click)="toggleExpanded($event)">

            @if (expanded()){
            <telemetry-chevron-up-icon />

            } @else {
            <telemetry-chevron-down-icon />
            }
        </button>
        }

        <span>{{ node().name }}</span>

    </div>

    @if (expanded()) {
    <ul>
        @for (child of node().children; track child.id) {
        <telemetry-hierarchy-node [node]="child" (selected)="selected.emit($event)" />
        }
    </ul>
    }
</li>
