<div class="invite-container">

    <div>
        <header>
            <h2>Invite Member</h2>
            <p>
                Send an invitation to join your organization.
            </p>
        </header>

        <form [formGroup]="inviteForm" (ngSubmit)="sendInvite()">

            <div>
                <label>Email</label>

                <input type="email" formControlName="email">

                @if (inviteForm.controls.email.hasError('required')) {
                <span>
                    Email is required.
                </span>
                }

                @if (inviteForm.controls.email.hasError('email')) {
                <span>
                    Enter a valid email.
                </span>
                }
            </div>

            <div>
                <label>Role</label>

                <select formControlName="role">
                    <option [value]="OrganizationRole.ADMIN">
                        Administrator
                    </option>

                    <option [value]="OrganizationRole.PROJECT_MANAGER">
                        Project Manager
                    </option>

                    <option [value]="OrganizationRole.MEMBER">
                        Member
                    </option>
                </select>
            </div>

            <button type="submit" [disabled]="inviteForm.invalid || loading()">

                Send Invitation

            </button>

        </form>
    </div>

</div>
