<telemetry-page>
    <telemetry-page-header headerTitle="Invite Member" description="Send an invitation to join your organization." />


    <form class="form-default" [formGroup]="inviteForm" (ngSubmit)="sendInvite()">
        <fieldset class="fieldset">
            <legend class="fieldset-legend">Invite</legend>

            <telemetry-label text="Email" />
            <telemetry-input [type]="InputType.EMAIL" [control]="inviteForm.controls.email" />
            <div class="flex flex-col gap-1">
                @if (inviteForm.controls.email.invalid &&
                inviteForm.controls.email.touched) {
                <telemetry-error text="Email is required" />

                }

                @if (inviteForm.controls.email.hasError('email')) {
                <span>
                    <telemetry-error text="Enter a valid email." />
                </span>
                }
            </div>

            <telemetry-label text="Role" />
            <select class="select" formControlName="role">
                <option [value]="OrganizationRole.ADMIN">
                    Administrator
                </option>

                <option [value]="OrganizationRole.PROJECT_MANAGER">
                    Project Manager
                </option>

                <option [value]="OrganizationRole.MEMBER">
                    Member
                </option>
            </select>
        </fieldset>

        <telemetry-button text="Invite" [type]="ButtonType.SUBMIT" [disabled]="inviteForm.invalid || loading()" />

    </form>


</telemetry-page>
