<h1>Login</h1>

<form [formGroup]="loginForm" (ngSubmit)="login()">
    <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password">
    </mat-form-field>

    @if (loginError) {
    <p class="login-error">
        Invalid email or password.
    </p>
    }

    <button matButton="filled" type="submit" [disabled]="loginForm.invalid">Login</button>
</form>
<p>
    Don&apos;t have an account?
    <a matButton routerLink="/auth/register">Register</a>
</p>
