<form [formGroup]="loginForm" (ngSubmit)="login()" class="w-xs">

    <div class="flex flex-col gap-1">
        <telemetry-label text="Email" />
        <telemetry-input [type]="InputType.EMAIL" [control]="loginForm.controls.email" />
    </div>

    <div class="flex flex-col gap-1">
        <telemetry-label text="Password" />
        <telemetry-input [type]="InputType.PASSWORD" [control]="loginForm.controls.password" />
    </div>

    @if (loginError) {
    <p class="login-error">
        Invalid email or password.
    </p>
    }

    <telemetry-button text="Login" [type]="ButtonType.SUBMIT" [disabled]="loginForm.invalid" />


</form>
