<h1>Device Template</h1>

@if (loading()) {
<span>loading</span>
} @else if (error()) {
<telemetry-empty-state message="No device template data"></telemetry-empty-state>
} @else {
@if (!editMode()) {
<button matButton routerLink="edit">
    Edit
</button>
}

<button class="self-end" type="button" (click)="addMetricDefinition()">Add Metric Definition</button>

<form class="flex flex-col gap-2 p-2" [formGroup]="deviceTemplateForm">

    <input type="text" class="input" formControlName="name">

    <input type="text" class="input" formControlName="description">

    @if (metricDefinitions.controls.length > 0) {

    @for (metricDefinition of metricDefinitions.controls; track metricDefinition; let i = $index;) {

    <div class="flex gap-2" [formGroup]="metricDefinition">

        <label>Metric Name</label>
        <input type="text" class="input" formControlName="name">

        <label>Metric Field Name</label>
        <input matInput formControlName="incomingFieldName">


        <label>Data Type</label>

        <select formControlName="dataType">
            @for (dataType of dataTypes; track dataType) {
            <option [value]="dataType">
                {{ dataType }}
            </option>
            }
        </select>

        <label>Metric Field Description</label>
        <input type="text" class="input" formControlName="description">

        <label>Metric Field Unit</label>
        <input type="text" formControlName="unit">

        <button class="flex flex-col items-center gap-2" (click)="removeMetricDefinition(i)">
            <span>Delete</span>
        </button>

    </div>


    }
    } @else {
    <span>No Metric Definitions to display</span>
    }

    <button class="flex flex-col items-center gap-2" type="submit" [disabled]="deviceTemplateForm.invalid || saving()"
        (click)="submitForm()">

        <span>{{editMode() ? "Update" : "Save"}}</span>
    </button>

</form>
}
