<telemetry-page>

    <telemetry-page-header headerTitle="Device Template" />


    @if (loading()) {
    <telemetry-loading-spinner />
    } @else if (error()) {
    <telemetry-empty-state message="No device template data"></telemetry-empty-state>
    } @else {
    @if (!editMode()) {
    <telemetry-button text="Edit" routerLink="edit" />
    }


    <telemetry-button text="Add Metric" [style]="ButtonStyle.SECONDARY" (clicked)="addMetricDefinition()" />


    <form class="flex flex-col gap-2 p-2" [formGroup]="deviceTemplateForm">



        <fieldset class="fieldset">
            <legend class="fieldset-legend">Template Details</legend>

            <telemetry-label text="Name" />
            <telemetry-input [control]="deviceTemplateForm.controls.name" />

            <telemetry-label text="Description" />
            <telemetry-input [control]="deviceTemplateForm.controls.description" />
        </fieldset>


        @if (metricDefinitions.controls.length > 0) {

        @for (metricDefinition of metricDefinitions.controls; track metricDefinition; let i = $index;) {

        <div class="flex gap-2" [formGroup]="metricDefinition">

            <fieldset class="fieldset">
                <legend class="fieldset-legend">Metric Details</legend>
                <telemetry-label text="Name" />
                <telemetry-input [control]="metricDefinition.controls.name" />

                <telemetry-label text="Field Name" />
                <telemetry-input [control]="metricDefinition.controls.incomingFieldName" />

                <telemetry-label text="Field Description" />
                <telemetry-input [control]="metricDefinition.controls.description" />

                <telemetry-label text="Data Type" />
                <select class="select" formControlName="dataType">
                    @for (dataType of dataTypes; track dataType) {
                    <option [value]="dataType">
                        {{ dataType }}
                    </option>
                    }
                </select>
                <telemetry-label text="Field Unit" />
                <telemetry-input [control]="metricDefinition.controls.unit" />



            </fieldset>

            <telemetry-button text="Delete" (clicked)="removeMetricDefinition(i)" />

        </div>


        }
        } @else {
        <telemetry-empty-state message="No Metric Definitions to display" />
        }

        <telemetry-button [text]="editMode() ? 'Update' : 'Save'" [type]="ButtonType.SUBMIT" (clicked)="submitForm()" />

    </form>
    }

</telemetry-page>
