<h1>Device Template</h1>

@if (loading()) {
<mat-spinner />
} @else if (error()) {
<telemetry-empty-state message="No device template data"></telemetry-empty-state>
} @else {
@if (!editMode()) {
<button matButton routerLink="edit">
    <mat-icon>edit</mat-icon>
    Edit
</button>
}

<button class="self-end" type="button" mat-button (click)="addMetricDefinition()">Add Metric Definition</button>

<form class="flex flex-col gap-2 p-2" [formGroup]="deviceTemplateForm">

    <mat-form-field appearance="outline">
        <mat-label>Device Template Name</mat-label>
        <input matInput formControlName="name">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Device Template Description</mat-label>
        <input matInput formControlName="description">
    </mat-form-field>

    @if (metricDefinitions.controls.length > 0) {

    @for (metricDefinition of metricDefinitions.controls; track metricDefinition; let i = $index;) {

    <div class="flex gap-2" [formGroup]="metricDefinition">

        <mat-form-field appearance="outline">
            <mat-label>Metric Name</mat-label>
            <input matInput formControlName="name">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Metric Field Name</mat-label>
            <input matInput formControlName="incomingFieldName">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Data Type</mat-label>

            <mat-select formControlName="dataType">
                @for (dataType of dataTypes; track dataType) {
                <mat-option [value]="dataType">
                    {{ dataType }}
                </mat-option>
                }
            </mat-select>

        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Metric Field Description</mat-label>
            <input matInput formControlName="description">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Metric Field Unit</mat-label>
            <input matInput formControlName="unit">
        </mat-form-field>

        <button matButton class="flex flex-col items-center gap-2" (click)="removeMetricDefinition(i)">
            <mat-icon>delete</mat-icon>
            <span>Delete</span>
        </button>

    </div>


    }
    } @else {
    <span>No Metric Definitions to display</span>
    }

    <button class="flex flex-col items-center gap-2" mat-flat-button [disabled]="deviceTemplateForm.invalid || saving()"
        (click)="submitForm()">
        <mat-icon>save</mat-icon>
        <span>{{editMode() ? "Update" : "Save"}}</span>
    </button>

</form>
}
