<telemetry-page>
    <ul class="steps w-full">
        @for (step of deviceImportSteps; track step) {
        <li class="step" [class.step-primary]="step <= currentStep()">
            {{ stepLabels[step] }}
        </li>
        }
    </ul>

    @if (currentStep() === 1) {
    <h1>selected template id : {{selectedTemplateId()}}</h1>
    <telemetry-device-template-selection (selectedDeviceTemplate)="selectedDeviceTemplateUpdate($event)" />
    } @else if (currentStep() === 2) {
    <h1>selected hiearchy node id : TODO</h1>
    <telemetry-hierarchy-node-selection />
    }

    <div class="form-buttons-container">

        @if (showCancel()) {
        <telemetry-button text="Cancel" (clicked)="cancelImport()" />
        }

        @if (showPrevious()) {
        <telemetry-button text="Previous" (clicked)="previousStep()" />
        }

        <telemetry-button text="Next" [disabled]="!canGoNext()" (clicked)="nextStep()" />

    </div>
</telemetry-page>
